@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/* html and bodyof html */
html, body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #FFE3E3;
	height: 100%;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
html {
	scroll-behavior: smooth;
}
/* all images within html and bodyof html */
img {
	max-width: 100%;
	height: auto;
}
/* all hover effects with a box shadow */
.card:hover,.navbar-brand:hover,.nav-item:hover,.headingcontainerforthewebsite:hover,.headingcontainerformapsearchboxcard:hover,#map:hover,#pac-input:hover,.headingcontainerone:hover,.headingcontainertwo:hover,.card-title-package-deals:hover,.bg-light-package-deals:hover,.card-title-useful-information:hover,.text-white:hover,.card-title-package-deals,.card,.bg-light-package-deals,.text-white,.card-img,.card-img-overlay,.bg-navbar,.register,.footercard {
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
}
/* centering css for all elements */
.headingcontainerforthewebsite,.headingcontainerformapsearchboxcard,#pac-input,.headingcontainerone,.headingcontainertwo,#footer,.bg-light-package-deals,.package-deals-home-page,.bg-white-useful-information,.card-title-useful-information,.useful-information,.btn-outline-white,.footericon:hover,.fas,.mapcontainercard,#map,.card-header,.usefulone,table,td,tr,.footercard,.copyrightcontainer,.aboutus,.lead-heading,p,.footersocialicons,#exampleModal,form,.bg-white-useful-information,.modal,.modal-dialog {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
}
/* all classes and ids with a font size:1rem and font-weight:bold */
.bg-navbar,.navbar-brand,.nav-item,#pac-input,table,.copyrightcontainer,.btn-outline-white,#footer,.register,#pac-input {
	font-size:1rem;
	font-weight:bold;
}
/* all classes and ids with a font size:2rem and font-weight:bold */
.headingcontainerformapsearchboxcard,.card-header,.usefulone,.list-group-social,.package-deals-home-page,.fab {
	font-size:2rem;
	font-weight:bold;
}
/* all classes and ids with margin:0 auto */
.lead-heading,#map,.mapcontainercard,.list-group-social,.useful-information,.bg-white-useful-information,.card-title-useful-information,.text-white {
	margin: 0 auto;
}
/* all classes and ids with padding:2rem */
.headingcontainerforthewebsite,#pac-input,.headingcontainerone,.headingcontainertwo,.bg-light-package-deals,.package-deals-home-page,.bg-white-useful-information,.text-white,.aboutus,.footersocialicons,.list-group-social,.footercard,.copyrightcontainer {
	padding:2rem;
}
/* all classes and ids with color: rgba(255,255,255,1.0);
*/
.bg-navbar,.navbartogglericon,.navbar-toggler,.navbar-brand,.nav-item,.nav-item:hover,.headingcontainerforthewebsite,.headingcontainerformapsearchboxcard,.card-header,.usefulone,#footer,.list-group,.list-group-item,.list-group-item-action,.list-group-item:hover,.list-group-item-action:hover,.fab,.copyrightcontainer {
	color: rgba(255,255,255,1.0);
}
/* navbar */
.bg-navbar {
	background-color: rgba(81,70,158,0.8);
}
/* navbar toggler icon */
.navbartogglericon {
	border-color:#210B2C;
	border-width:5px;
	outline-color:#210B2C;
	outline-width:5px;
}
/* navbar toggler */
.navbar-toggler {
	border-color:#433A82;
	border-width:5px;
	outline-color:#433A82;
	outline-width:5px;
}
/* navbar brand */
.navbar-brand {
	outline: rgba(0,0,0,1.0);
	font-weight:bold;
	background-color:transparent;
}
/* navbar brand logo image */
#brandlogoimage {
	width: 40px;
	height:40px;
	margin-right:1rem;
}
/* navbar brand hover */
.navbar-brand:hover {
	background-color: rgba(81,70,158,1.0);
	color: rgba(33,11,44,0.98);
}
/* nav item */
.nav-item {
	background-color: #AFAAD2;
	margin-right:20px;
}
/* nav item hover */
.nav-item:hover {
	background-color:#CC97C4;
}
/* heading container for the website */
.headingcontainerforthewebsite {
	font-size:40px;
	background-color:#572162;
	margin-top: 100px;
	margin-bottom: 0px;
	font-weight: bold;
}
/* heading container for map searchbox card */
.headingcontainerformapsearchboxcard {
	background-color:#FF6666;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* map and its components*/
#map {
	height: 800px;
	width: 100%;
}
.mapcontainercard {
	background-color:#572162;
}
#pac-input,form {
	background-color:#AFAAD2;
	color: rgba(0,0,0,1.0);
	border: 3px solid #210B2C;
}
table,.form-control {
	background-color:#FFD5D5;
	color: rgba(0,0,0,1.0);
	border: 3px solid #210B2C;
}
tr,td {
	border: 1px solid #210B2C;
}
/* container for headings for package deals and useful information */
.headingcontainerone,.headingcontainertwo {
	font-size:38px;
	background-color:#51469E;
	color: #210B2C;
	margin-top: 70px;
	margin-bottom: 70px;
	font-weight: bold;
}
/* card titles for all cards about travel deals */
.card-header {
	background-color: rgba(255,102,102,1.0);
}
.usefulone {
	background-color: #210B2C;
}
/* body of image overlay card for package deals */
.bg-light-package-deals {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-title-package-deals:hover,.bg-light-package-deals:hover {
	background-color:#210B2C;
}
/* image overlay cards for useful information */
.bg-white-useful-information {
	padding:2rem;
	margin-top:2rem;
	margin-bottom:2rem;
}
.bg-white-useful-information:hover {
	background-color:#CC97C4;
}
/* contact information for the company */
.footercard,#exampleModal {
	background-color:#572162;
	margin-top: 20px;
	color: rgba(255,255,255,1.0);
}
/* footer */
#footer,.list-group,.list-group-item,.list-group-item-action {
	background-color: #FF6666;
}
#footer {
	margin-top: 4rem;
}
.list-group-item:hover,.list-group-item-action:hover {
	background-color: transparent;
	color:#572162;
}
/* social media icons */
.fab {
	padding: 10px;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 5px;
}
.fab:hover,.fas:hover {
	text-decoration:none;
}
/* footer copyright information */
.copyrightcontainer {
	background-color:#51469E;
	margin-top: 70px;
}
/* sign-up section for the footer */
#exampleModal,form {
	padding:1rem;
	margin:0 auto;
}
.register,.modalbutton {
	margin: 20px 0px 20px 0px;
	background-color: rgba(87,33,98,0.99);
	border: 5px solid rgba(87,33,98,0.99);
	height: 3rem;
	width: 8rem;
	color: rgba(255,255,255,1.0);
}
.register:hover,.modalbutton:hover {
	margin: 20px 0px 20px 0px;
	background-color:rgba(33,11,44,0.98);
	border: 5px solid rgba(33,11,44,0.98);
	color: rgba(255,255,255,1.0);
}
.btn:hover,.btn:focus,.btn:active,#exampleModalLabel {
	background-color:rgba(33,11,44,0.98);
	border: 5px solid rgba(33,11,44,0.98);
	color: rgba(255,255,255,1.0);
}
h4 {
	color:#210B2C;
	margin:0 auto;
	padding:3rem;
	font-weight:bold;
}
.form-group {
	padding:1rem;
}
/* end */